@model WebProjectCS.Models.BlogItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConvID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConvID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlogItemID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="ConvBlogItems" asp-action="Conversation" asp-route-id=@Html.DisplayFor(model => model.ConvID)>Back to List</a>
    </form>
</div>
